body {
  background-color: white;
  font-family: sans-serif;
  color: black;
  font-size: 20px;
  line-height: 1.6;
}
h1, h2, h3 {
  color: rgb(33, 2, 2);
  font-size:50px;
  font-weight: bold;
  font-family: 'Caveat', cursive;
  line-height: 1.6;
}
a{
  color: chartreuse;
  text-decoration: none;
}
a :hover{
  text-decoration: underline;
}
.text-center{
  text-align:center;
}
.avatar{
  width:200px;
  height:250px;
  border-radius: 50px;
  object-fit: cover;
  text-align: center;
}
.list-inline{
  list-style: none;
  padding-left: 0px;
}
.container{
    width: 500px;
    margin: 0 auto;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
    padding-right: 6rem;
    padding-left: 6rem;
  }
}
@media (min-width: 1536px){

  .container {
    max-width: 1536px;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
